body {
	background: rgb(238, 238, 238);
}

label.error {
	color: #b94a48;
	font-style: oblique;
	background-color: #DEABAB;
	border-color: #E1B0B8;
	border-radius: 6px;
	width: 290px;
	height: 35px;
	text-align: center;
	margin-top: 3px;
	line-height: 33px;
}

legend {
	color: rgb(51, 102, 153);
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

thead {
	background: rgb(248, 231, 163);
}

tfoot {
	background: rgb(238, 238, 238);
}

.container-fluid {
	margin-top: 6%;
}

.span4Style {
	background: rgb(249, 249, 249);
	border: solid;
	border-color: rgb(234, 234, 234);
	border-radius: 4px;
	width: 400px;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	background: #eee;
	padding: 5px;
	width: 143px;
}

.sortable li {
	margin: 5px;
	background: #ddd;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
}

.white {
	background: white;
}

#conteudo {
	margin-top: 60px;
}

#rodape {
	position: relative;
	margin-top: -30px;
	/* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
	height: 30px; /* E aqui, fica a altura do rodapé */
	clear: both;
	color: rgb(51, 153, 204);
	text-align: center;
}

#divLogin {
	left: 50%;
	margin: -240px 0 0 -320px;
	position: absolute;
	top: 50%;
}

#ulToDo,#ulDoing,#ulDone {
	background: #eee;
	padding: 5px;
}